@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');

.menu {
    margin-bottom: 5%;
}

.link-conteiner {
    display: flex;
    flex-direction: row;
    flex-grow: 0;
    text-decoration: none;
    color: white;
}
.link-conteiner:hover {
    color: white;
}

.group-menu {
    display: flex;
    flex-direction: row;
    flex-grow: 1;
}

.categoria {
    color: white;
    text-transform: lowercase;
    font-family: 'Open Sans', sans-serif;
    font-size: 120%;
}


