@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');

.item-detail {
    margin: 15px 30px;
}

.title-detail {
    font-family: 'Bebas Neue', cursive !important;
    font-size: 200% !important;
}