@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap');


.alert-cart {
    margin-left: 5%;
    font-family: 'Bebas Neue', cursive;
}

.title-cart {
    margin-left: 2%;
    font-family: 'Bebas Neue', cursive;
    font-size: 400%;
}

.items-conteiner {
    margin: 15px 30px
}

.cart-empty {
    margin-left: 30%;
}

.total-title {
    font-family: 'Roboto', sans-serif;
}