@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap');


.alert-cart {
    font-family: 'Bebas Neue', cursive;
}

.title-cart {
    text-align: center;
    font-family: 'Bebas Neue', cursive;
    font-size: 400%;
}
.total-title {
    margin-top: 80px;
    font-family: 'Roboto', sans-serif;
}