@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap');

.form {
    width: 100%;
    border: black;
}

.order-title {
    font-family: 'Roboto', sans-serif;
}

.conteiner-form {
    margin-top: 5rem;
    padding-left: 20%; 
    padding-right: 20%; 
}
